/glagolev.v/lab2/.vs
/glagolev.v/lab2/bin
/glagolev.v/lab2/obj
/glagolev.v/ConsoleAppAccess/.vs
/glagolev.v/ConsoleAppAccess/bin
/glagolev.v/ConsoleAppAccess/obj
/glagolev.v/AppSklad/.vs
/glagolev.v/AppSklad/bin
/glagolev.v/AppSklad/obj
/romanyuk.v/AppSklad/.vs
/romanyuk.v/AppSklad/bin
/romanyuk.v/AppSklad/obj
/romanyuk.v/ConsoleAppAccess/.vs
/romanyuk.v/ConsoleAppAccess/bin
/romanyuk.v/ConsoleAppAccess/obj
