/checherina.e/lab0/lab0/obj
/checherina.e/lab0/lab0/bin
/checherina.e/lab0/lab0/.vs
/checherina.e/lab1/.vs
/checherina.e/lab1/bin
/checherina.e/lab1/obj
/checherina.e/lab3/obj
/checherina.e/lab3/.vs
/checherina.e/lab3/bin
/checherina.e/lab4/AppSklad/bin
/checherina.e/lab4/AppSklad/.vs
/checherina.e/lab4/AppSklad/obj
